.footer {
  background-color: fade-out($secondary, 0.1);

      .social {
        margin: 0;
        padding: 0;
    }

    .social ul {
        margin: 0;
        padding: 5px;
    }

    .social ul li {
        margin: 5px;
        list-style: none outside none;
        display: inline-block;
    }

    .social i {
        width: 40px;
        height: 40px;
        color: #FFF;
        background-color: #909AA0;
        font-size: 22px;
        text-align:center;
        padding-top: 12px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
    }

    .social i:hover {
        color: #FFF;
        text-decoration: none;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
    }

    .social .fa-linkedin:hover { /* round linkedin icon*/
      background: #0094BC;
    }

    .social .fa-github:hover { /* round github icon*/
      background: #343434;
    }

}
